.main_title {
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.sub_title {
  color: rgb(121, 119, 119);
  margin-bottom: 10px;
}

.main_image {
  width: 100%;
  height: 100%;
  margin: auto;
}

.image_spinner {
  margin-top: 25vh;
  margin-bottom: 25vh;
  text-align: center;
}

.loading_skeleton_text {
  margin: 20px 20px 0px 20px;
  height: 80px;
}

.loading_skeleton_title {
  width: 40%;
  margin-bottom: 5px;
  margin-left: 20px;
}

.like_button_wrapper {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
}

.like_count {
  color: rgb(121, 119, 119);
  margin-right: 15px;
}

.video_link {
  margin-left: 15px;
  margin-top: 10px;
  font-size: 18px;
}

.date_picker {
  margin-bottom: 10px;
}

.copyright {
  margin-left: 20px;
  color: rgb(121, 119, 119);
}

.comment {
  margin-left: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.post_comment {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.post_comment_text {
  display: inline-block;
  width: 88%;
}
.post_comment_button {
  display: inline-block;
  width: 12%;
}

.grid_container {
  display: grid;
  grid-auto-flow: column;
  /* grid-auto-columns: 1fr; */
}

.header_login {
  justify-self: end;
  margin-top: 15px;
}

.main_wrapper {
  width: 95%;
  height: 100%;
  margin: auto;
  padding-bottom: 10px;
}

@media (min-width: 700px) {
  .main_wrapper {
    width: 70%;
  }
}

@media (min-width: 1000px) {
  .main_wrapper {
    width: 45%;
  }
}

@media (min-width: 2000px) {
  .main_wrapper {
    width: 40%;
  }
}
@media (min-width: 2500px) {
  .main_wrapper {
    width: 35%;
  }
}

@media (min-width: 3000px) {
  .main_wrapper {
    width: 30%;
  }
}

@media (min-width: 3500px) {
  .main_wrapper {
    width: 27%;
  }
}

@media (min-width: 4000px) {
  .main_wrapper {
    width: 23%;
  }
}

@media (min-width: 4500px) {
  .main_wrapper {
    width: 20%;
  }
}
